body{
    width: 300px;
    height: 200px;
    background-color: #2faab2;
    display: flext;
    justify-content: center;
}
p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: #000000;
    border-radius: 6px;
    border: 1px solid rgb(1, 19, 25);
    padding: 10px;
}